  <div class="container">
  <app-filter></app-filter>
  <div class="row">
    <div class="col-md-3" *ngFor="let movie of movieList">
      <div class="card movie-card">
        <img class="card-img-top" [src]="movie.image" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{movie.name}}</h6>
          <h7 class="text-muted">{{movie.director}}</h7>
          <ul class="details d-flex justify-content-center">
            <li class="recipe-details-item time"><i>
                <fa-icon [icon]="faStar"></fa-icon>
              </i><span class="value">{{movie.imdb_score}}</span><span class="title">IMDB</span></li>
            <li class="recipe-details-item ingredients"><i>
                <fa-icon [icon]="faStar"></fa-icon>
              </i><span class="value">{{movie.popularity}}</span><span class="title">99Popularity</span></li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{movie.genre|genre}}</small>
        </div>
      </div>
    </div>

  </div>
  <div class="py-5 d-flex justify-content-center" *ngIf="page<lastPage">
    <button class="btn btn-success" [disabled]="apiExceute" (click)="getMovie()">Load More</button>
  </div>
</div>
