
img {
  vertical-align: text-bottom;
  height:250px;
  width:auto;
  object-fit: cover;
  border: 1px solid #fee;
  background: url("/assets/image/dummy.jpg") center center
}

a {
  color: inherit;
  text-decoration: none;
}

.movie-card{
  box-shadow: 2px 2px 10px 2px rgba(40,44,63,.7);
  cursor: pointer;
  img{
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=10);
  }
}
.movie-card:hover{
  transform: scale(1.1) ;
  img{
    opacity: 1;
  }
}


.details {
  display: flex;
  list-style: none;
  padding: 1.4em 0 1em;
  margin: 0;
  justify-content: space-between;
  .recipe-details-item {
      flex: 1;
      i {
          font-size: 20px;
      }
      .value {
          color: #ff4f87;
          margin-left: .35em;
          vertical-align: bottom;
          font: {
              size: 20px;
              weight: 600;
          }
      }
      .title {
          display: block;
          margin-top: -4px;
          font: {
              family: var(--headlinesFont);
              size: 15px;
              weight: 300;
          }
      }
  }
}

.col-md-3{
  padding:1rem;
}
.card-footer{
  height:70px;
}
