
  <div class="add_new">
    <button class="btn-primary my-3" [routerLink]="['/movie','add']">
      Add New
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>director</th>
        <th>imdb_score</th>
        <th>popularity</th>
        <th>genre</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movieList">
        <td>{{movie.name}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.imdb_score}}</td>
        <td>{{movie.popularity}}</td>
        <td>{{movie.genre|genre}}</td>
        <td>
          <button class='btn btn-sm btn-success mx-2' [routerLink]="['/movie','edit',movie._id]">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class='btn btn-sm btn-danger' (click)="delete(movie._id,movie.name)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr colspan="5">
        <td colspan=2>
          <div class="d-felx justify-content-left">
            <label class="label">Show rows: </label>
            <input type="text" size="3" [(ngModel)]="limit" (change)="getMovie(page,limit)" name="page" />
          </div>
        </td>
        <td colspan=3>
          <label class="label">Go to Page: </label>
          <input type="text" size="3" [(ngModel)]="page" (change)="getMovie(page,limit)" name="page" />
          <span style="margin-right: 10px;"> of {{lastPage}}</span>
        </td>
        <td>
          <div class="d-felx justify-content-right">
            <span *ngIf="page>1" (click)="getMovie(page-1,limit)" style="cursor: pointer; padding: 10px"><i>
                <fa-icon [icon]="faAngleLeft"></fa-icon>
              </i></span>
            <span>Page: {{page}}</span>
            <span *ngIf="page<lastPage" (click)="getMovie(page+1,limit)" style="cursor: pointer;padding: 10px"><i>
                <fa-icon [icon]="faAngleRight"></fa-icon>
              </i></span>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

