<form class="row" [formGroup]="loginForm" (submit)="login()">
  <div class="form-group col-md-6 offset-3">

    <small  class="form-text text-danger" *ngIf="errorMsg" >{{errorMsg}}</small>

    <label for="exampleInputEmail1">Email address</label>
    <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-valid': getFormField('email').valid}"  placeholder="Enter email">
    <div *ngIf="getFormField('email').touched || getFormField('email').dirty">
      <small *ngIf="getFormField('email')?.errors?.email" class="form-text text-danger">Please Provide Valid email</small>
      <small *ngIf="getFormField('email')?.errors?.required" class="form-text text-danger">Email is required.</small>
    </div>
  </div>
  <div class="form-group col-md-6 offset-3">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-valid': getFormField('password').valid}" placeholder="Password">
    <div *ngIf="getFormField('password').touched || getFormField('password').dirty">
      <small *ngIf="getFormField('password')?.errors?.minlength" class="form-text text-danger">Password should contain more than than 5.</small>
      <small *ngIf="getFormField('password')?.errors?.required" class="form-text text-danger">Password is required</small>
    </div>
  </div>
  <div class="form-group col-md-6 offset-3 text-center">
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
  </div>
</form>
