<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/movie','preview']">
      <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="50" height="50"  alt="">
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/auth','login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link logout" (click)=logout()>Logout</a>
      </li>
    </ul>
  </div>

</nav>
