<form class="row" (submit)="save()" [formGroup]="movieForm">
  <div class="form-group col-md-6 offset-3">
    <label for="movie">Movie Name</label>
    <input type="name" formControlName="name" id="movie" class="form-control" placeholder="Movie Name">
    <div *ngIf="getFormField('name').touched || getFormField('name').dirty">
      <small *ngIf="getFormField('name')?.errors?.required" class="form-text text-danger">Please Provide Email Name</small>
    </div>
  </div>

  <div class="form-group col-md-6 offset-3">
    <label for="director">Director Name</label>
    <input type="name" formControlName="director" id="director" class="form-control" placeholder="Director Name">
    <div *ngIf="getFormField('director').touched || getFormField('director').dirty">
      <small *ngIf="getFormField('director')?.errors?.required" class="form-text text-danger">Please Provide Director Name</small>
    </div>
  </div>

  <div class="form-group col-md-6 offset-3">
    <label for="imdb">IMDB</label>
    <input type="number" formControlName="imdb_score" min=0 max=10 id="imdb" class="form-control" placeholder="Director Name">
    <div *ngIf="getFormField('imdb_score').touched || getFormField('imdb_score').dirty">
      <small *ngIf="getFormField('imdb_score')?.errors?.required" class="form-text text-danger">Please Provide IMDB score.</small>
      <small *ngIf="getFormField('imdb_score')?.errors?.min" class="form-text text-danger">Minimum Score shoul be 1</small>
      <small *ngIf="getFormField('imdb_score')?.errors?.max" class="form-text text-danger">Maximum Score shoul be 10</small>
    </div>
  </div>

  <div class="form-group col-md-6 offset-3">
    <label for="popularity">99popularity</label>
    <input type="number" formControlName="popularity" min=0 max=100 id="popularity" class="form-control" placeholder="99Popularity">
    <div *ngIf="getFormField('popularity').touched || getFormField('popularity').dirty">
      <small *ngIf="getFormField('popularity')?.errors?.required" class="form-text text-danger">Please Provide Popularity</small>
      <small *ngIf="getFormField('popularity')?.errors?.min" class="form-text text-danger">Minimum Score shoul be 1</small>
      <small *ngIf="getFormField('popularity')?.errors?.max" class="form-text text-danger">Maximum Score shoul be 100</small>
    </div>
  </div>

  <div class="form-group col-md-6 offset-3">
    <label for="genre">Genre</label>
    <ng-select [items]="genereList" formControlName="genre" bindValue="_id"  bindLabel="name" [multiple]="true" placeholder="Select Genre">
    </ng-select>
    <div *ngIf="getFormField('genre').touched || getFormField('genre').dirty">
      <small *ngIf="getFormField('genre')?.errors?.required" class="form-text text-danger">Please Provide Genre</small>
    </div>
  </div>

  <div class="form-group col-md-6 offset-3 text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
