<section class="py-3">
  <div class="genre-filter">
    <h6>Filter by genre</h6>
    <button class="btn btn-sm" [ngClass]="{'active': !filters.length}" (click)="showAll()"> Show all</button>
    <button class="btn btn-sm" [ngClass]="{'active': isChecked(_._id)}" (click)="appendFilter(_._id)" *ngFor="let _ of genreList" [class]="">{{_.name}}</button>
  </div>

  <div class="row">
    <div class="input-group col-md-8 col-sm-12 px-4 py-2">
      <input type="text" class="form-control" [(ngModel)]="_searchText" placeholder="Search" aria-label="Username"
        aria-describedby="basic-addon1">
      <div class="input-group-prepend">
        <button class="input-group-text" (click)="textSearch()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </div>

    <div class="input-group col-md-4 col-sm-12 px-4 py-2">
      <select class="form-control" (change)="selectSort($event)">
        <option [value]="i" *ngFor="let sort of sortList;let i = index">{{sort.name}}</option>
      </select>
    </div>
  </div>
</section>
