/* Style the buttons */
.genre-filter{
  .btn {
    border: none;
    outline: none;
    margin: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #ddd;
  }

  .btn.active {
    background-color: #666;
    color: white;
  }
}
